@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@theme {
    --font-sans: "DM Sans", sans-serif;
}
*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    transition-property: color, background-color, border-color, transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-weight: 400;
  font-style: normal;
}
h1{
  font-optical-sizing: auto;
}

@keyframes guestAnimation{
    0%{
      background-color: red;
      font-weight: bold;
    }
    25%{
      background-color: orange;
      font-size: larger;
      color: black;
    }
    50%{
      background-color: rgb(202, 2, 142);      
      font-size: larger;
    }
    75%{
      background-color: green;
    }
    100%{
      background-color: blue;
    }
}
.guest{
    animation: guestAnimation 10s linear infinite;
}